* {
    transition: 0.4s ease;
}
body, html {
    margin: 0 auto;
    font-family: 'Open Sans';
    
}
.landing {
    background-color: #ffffff;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box {
    height: 390px;
    width: 330px;
    background: linear-gradient(to bottom right, #45BDD9, #2d77d4);
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.3);
    padding-top: 20px;
    -webkit-animation-duration: 1.75s;
}
@media (max-width:480px) {
    .box {
        height: 100%;
        width:100%;
        padding: 0;
        border-radius: 0; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
.climate-icon {
    min-height: 250px;
    -webkit-animation-delay: 2s;
}
.icon {
    color: rgb(255, 255, 255);
    height: 200px;
    margin-top: 40px;
}
.temperature-box {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    letter-spacing: 2px;
}
.temperature-box, .location {
    -webkit-animation-delay: 3s;
}
.location {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    letter-spacing: 2px;
}
.error {
    font-size: 17px;
}